@use "./variables" as vars;

/* Buttons */
.button {
  border: none;
  cursor: pointer;
}

.dark-mode-toggle {
  background-color: transparent;

  & span {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    & svg {
      margin-left: 1rem;
    }
  }

  &__item {
    color: var(--clr-dark-mode-toggle);
    & svg {
      fill: var(--clr-dark-mode-toggle);
    }
  }

  &:hover {
    span {
      color: var(--clr-dark-mode-toggle-hover);
    }
    & svg {
      fill: var(--clr-dark-mode-toggle-hover);
    }
  }
}

.search-form {
  position: relative;

  &__button {
    color: hsl(var(--clr-white-50));
    background-color: var(--clr-accent);
    padding: 0.78125rem 1rem;
    border-radius: 0.625rem;
    font-size: var(--fs-350);

    &:hover,
    &:focus &:active {
      opacity: 0.8;
    }

    @media (min-width: vars.$bp-tablet) {
      padding: 0.78125rem 1.5rem;
      font-size: var(--fs-500);
    }
  }
  /* Input */

  &__input {
    // position: relative;
    border: 0;
    font-size: var(--fs-300);
    line-height: var(--lh-300);
    caret-color: var(--clr-accent);
    color: var(--clr-text-body);
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: var(--clr-text-body);
    }

    @media (min-width: vars.$bp-tablet) {
      font-size: var(--fs-550);
      line-height: var(--lh-500);
    }
  }

  &__error-message {
    color: var(--clr-error);
    position: absolute;
    right: 6.5625rem;

    @media (min-width: vars.$bp-tablet) {
      right: 8.75rem;
    }
  }
}
