@use "./variables" as vars;

.user-detail {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1.1875rem;
  row-gap: 1.5rem;
  padding: 2rem 1.5rem 3rem;

  @media (min-width: vars.$bp-tablet) {
    padding: 2.5rem;
    column-gap: 2.3125rem;
  }

  @media (min-width: vars.$bp-desktop) {
    row-gap: 2rem;
  }

  &__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: inline-block;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    overflow: hidden;

    @media (min-width: vars.$bp-tablet) {
      grid-row: 1 / 3;
      width: 7.3125rem;
      height: 7.3125rem;
    }
  }

  &__header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    @media (min-width: vars.$bp-desktop) {
      gap: 0.5rem 0;
    }
  }

  &__name {
    color: var(--clr-text-heading);
    @media (min-width: vars.$bp-desktop) {
      align-self: end;
    }
  }

  &__join-date {
    @media (min-width: vars.$bp-desktop) {
      justify-self: end;
      align-self: end;
    }
  }

  &__username {
    color: var(--clr-text-accent);
  }

  &__bio {
    grid-column: 1 / -1;

    @media (min-width: vars.$bp-desktop) {
      // padding-top: 0;
      grid-column: 2 / -1;
    }
  }

  &__stats {
    grid-column: 1 / -1;
    padding: 1.25rem 1rem;
    border-radius: 0.625rem;

    display: flex;
    justify-content: space-between;

    font-size: var(--fs-200);
    background-color: var(--clr-user-detail-stats-bg);

    text-align: center;

    @media (min-width: vars.$bp-tablet) {
      padding: 1rem 2rem;
      font-size: var(--fs-300);
      line-height: var(--lh-300);
      text-align: left;
    }

    @media (min-width: vars.$bp-desktop) {
      grid-column: 2 / -1;
    }

    & span {
      display: block;
      font-weight: bold;
      font-size: var(--fs-500);
      line-height: var(--lh-500);
      color: var(--clr-text-heading);

      @media (min-width: vars.$bp-tablet) {
        font-size: var(--fs-600);
        line-height: var(--lh-600);
      }
    }
  }

  &__footer-links {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    gap: 1rem 3rem;

    @media (min-width: vars.$bp-desktop) {
      grid-column: 2 / -1;
    }
  }

  &__footer-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    overflow: hidden;

    & svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: var(--clr-text-body);
    }

    & span {
      & a {
        color: var(--clr-text-body);
      }
    }
  }
}
